<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="linearhmwkdb" connectionString="server=mcs.drury.edu;User Id=LinAlgUser;Password=matrixdevelopment;Persist Security Info=True;database=linearhmwkdb" />
		<!--<add name="linearhmwkdb" connectionString="server=localhost;User Id=root;Password=root;Persist Security Info=True;database=linearhmwkdb" />-->
	</connectionStrings>
  
    <system.web>
      <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
	
	  <authentication mode="Forms">
	    <forms loginUrl="Default.aspx" timeout="30"  name="LINALGHW">
	    </forms>
	  </authentication>
	  <authorization>
        <deny users="?" />
      </authorization>
    </system.web>

	<location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
	
	<system.webServer>
	  <defaultDocument>
		<files>
		  <clear />
		  <add value="Default.aspx" />
		</files>
	  </defaultDocument>
	</system.webServer>

</configuration>
